* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  #skip {
    position: absolute;
    left: -1000px;
  
  }
  
  #skip:focus {
  
    background-color: yellowgreen;
    position: absolute;
    left: 77px;
    font-size: 13px;
    padding: 5px;
  
  
  }
  
  header {
    background-color: #d6d6d6;
    height: 100px;
    width: 90%;
    margin: 0 auto;
  
  }
  
  nav {
  
    display: inline-block;
    width: 100%;
    height: 100%;
  
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    height: 100%;
    width: 80%;
    margin: auto;
  
  
  }
  
  li {
    margin: auto;
  
  
  }
  
  a {
    text-decoration: none;
    color: #1f00bd;
  
  }
  
  a:hover {
    text-decoration: underline;
    color: #1f00bd;
  }
  
  a:active {
    text-decoration: underline;
    color: #0084bd;
  }
  
  main {
    width: 90%;
    margin: 0 auto;
    background-color: #ccfcff;
    padding: 20px;
    display: flex;
    
  }
  
  .P {
    margin: auto 0;
    margin-right: 20px;
    margin-left: 20px;
  
  }
  
  main img {
    border: inset 5px gray;
    margin: auto;
    height: 200px;
    width: 200px;
    
  }
  
  footer {
    background-color: #d6d6d6;
    height: 100px;
    width: 90%;
    margin: 0 auto;
  
    text-align: center;
  
  
  }
  
  footer p {
    padding-top: 40px;
  
  }
  
  
  
  .grid {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    row-gap: 10px;
    width: 100%;
    justify-content: space-evenly;
    align-items: stretch;
    
  }
  
  .grid img {
    width: 100%;
    object-fit: cover;
    border: solid 3px black;
    border-radius: 15%;
  
  
    
  }
  .grid img:active{
    transform: scale(2, 2);
  }
  
  .flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
  
  }
  .flex img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: solid 3px black;
    border-radius: 15%;
    margin: 10px;
  
    transition: width ease-in-out 2s, height ease-in-out 2s;
  }
  .flex img:hover{
    width: 400px;
    height: 400px;
  }
  
  
  
  .flex img:nth-child(odd) {
    border-radius: 50%;
  }
